body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.button {
    border-radius: 5px;
}

.pagination .current a:hover {
    background-color: #1779ba;
}

.pagination .disabled a {
    padding: 0.1875rem 0.625rem;
    color: #cacaca;
    cursor: not-allowed;
    pointer-events: none;
}

.button.alert {
    background-color: #be2525;
}

.field-validation-error {
    color: #be2525;
}

.accordion-title {
    position: relative;
    text-align: center;
    border: 1px solid #e6e6e6;
    border-bottom: 0;
    font-size: 2rem;
    color: #1779ba;
}

.accordion-title::before {
    display: none;
}


#filmTable{
    table-layout: fixed;
}

#resultMessage p{
    display: inline;
    float: none;
    font-size: 1.2rem;
    color: #1779ba;
}

#resultMessage {
    display: none;
    text-align: center;
}
#deleteModal h3{
    color: #1779ba;
}

.fi-page-delete,
.fi-page-edit,
.fi-arrow-right,
.fi-arrow-left{
    font-size: 1rem;
}

#ui-datepicker-div {
    background-color: #1779ba;
}

.ui-datepicker-month,
.ui-datepicker-year {
    margin: 0 0 0 0;
}