@using MovieRental.Web.Models
@using MovieRental.Web.Enums
@{
    Layout = null;
}
@model FilmViewModel

@{
    ViewData["Title"] = "Add movie";
}

<div>
    <h3>Add new movie</h3>
    <form action="AddNewFilm" method="post">
        <div>
            <div><span asp-validation-for="Title"></span></div>
            <label asp-for="Title"></label>
            <input asp-for="Title" />
        </div>
        <div>
            <div><span asp-validation-for="Year"></span></div>
            <label asp-for="Year"></label>
            <input asp-for="Year" />
        </div>
        <div>
            <div><span asp-validation-for="Director"></span></div>
            <label asp-for="Director"></label>
            <input asp-for="Director" />
        </div>
        <div>
            <label asp-for="Category"></label>
            <select asp-for="Category">
                @foreach (var category in Enum.GetNames(typeof(FilmCategory)))
                {
                    <option value=" @category">@category</option>
                }
            </select>
        </div>
        <div>
            <div><span asp-validation-for="Quantity"></span></div>
            <label asp-for="Quantity"></label>
            <input asp-for="Quantity" />
        </div>
        <button>Add</button>
    </form>
    <form action="Index" method="get">
        <button>Back</button>
    </form>
</div>
