<div class="reveal" id="deleteModal" data-reveal>
    <div class="callout secondary" >
        <h2>Please confirm your deletion</h2>
        <p id="deleteDetails" class="text-center"></p>
        <div class="grid-x grid-margin-x grid-padding-x">
            <button type="button" id="confirmDeletion" data-close class="button cell small-6 alert ">Confirm</button>
            <button type="button" data-close class="button cell small-6  ">Close</button>
        </div>
    </div>
</div>
