<div id="resultMessage" class="callout success">
    <p></p>
</div>



@Html.Partial("CreateFilm", new FilmViewModel())
@Html.Action("Films")
@Html.Partial("DeleteFilmModal")
@Html.Partial("UpdateFilmModal")

<div class="reveal" id="errorDisplayModal" data-reveal>
    <div class="callout secondary">
        <p class="text-center"></p>
        <div class="grid-x grid-margin-x grid-padding-x">
            <button type="button" data-close class="button cell small-6 ">Continue</button>
        </div>
    </div>
</div>


@section Scripts
    {
    <script src="~/Scripts/Film/filmEvents.js" type="text/javascript"></script>
    <script src="~/Scripts/Film/film.js" type="text/javascript"></script>
    <script src="~/Scripts/Film/datepicker.js" type="text/javascript"></script>
}
