<div id="resultMessage" class="callout success">
    <p></p>
</div>

@Html.Partial("_CreateFilm", new FilmViewModel())
@Html.Action("GetFilms")

@Html.Partial("DeleteFilmModal")
@Html.Partial("UpdateFilmModal")



@section Scripts
    {
    <script src="~/Scripts/Film/filmEvents.js" type="text/javascript"></script>
    <script src="~/Scripts/Film/film.js" type="text/javascript"></script>
    <script src="~/Scripts/Film/datepicker.js" type="text/javascript"></script>
}
