<div class="large reveal" id="updateModal" data-reveal data-options="closeOnEsc:false; closeOnClick:false;">
    <div class="callout secondary">
        <div id ="updateFormWrapper">
        </div>
    </div>
</div>
