<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name ="PortalLogFile" xsi:type="File" layout="${longdate} ${message} ${exception:format=tostring}" fileName="${basedir}/logs/PortalLog.txt" />
    <target name ="ServiceLogFile" xsi:type="File" layout="${longdate} ${message} ${exception:format=tostring}" fileName="${basedir}/logs/FilmServiceLog.txt" />

    <target xsi:type="EventLog"
        name="logevent"
        layout="${longdate} ${message} ${exception:format=tostring}}"
        machineName="."
        source="A"
        log="PortalLog" />
  </targets>
  <rules>
    <logger name="eventLogger" minLevel="Trace" writeTo="logevent" />
    <logger name ="PortalLog" minLevel ="Trace" writeTo ="PortalLogFile"/>
    <logger name ="FilmServiceLog" minLevel ="Trace" writeTo ="ServiceLogFile"/>
  </rules>
</nlog>